@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: "Deltasoft";
  src: url("home/deltasoft.ttf");
}
html{
font-family: "Deltasoft";
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
     .header{
         position:fixed;
         left: 0px;
         top: 0px;
         width: 100vw;
         height:75px;
	}
     .header1{
         background-color:#121212;
         position:absolute;
         left: 0px;
         top: 0px;
         width: 100vw;
         height:75px;
	opacity:.85;
	}
.logo{
position:absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
height:100%;

}
.header-name{
color: white;
position:absolute;
left:50px;
}
.tools{
  position:absolute;
left: 0px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 0 500px, 500px 400px, 500px 0);
  clip-path: polygon(0 0, 0 100vh, 100vh 100vh, 100vh 0);
}
.resources{
  position:absolute;
left: 300px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(200px 0, 0 500px, 300px 500px, 500px 0);
  clip-path: polygon(calc((100vh/100)*25) 0, 0 100vh, 100vh 100vh, calc(100vh*2) 0);
}
.ideas{
  position:absolute;
left: 800px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(200px 0, 0 500px, 100% 500px, 100% 0);
  clip-path: polygon(calc((100vh/100)*20) 0, 0 100vh, 100vh 100vh, 100vh 0);
}
.blue-tint{
position:absolute;
left:0px;
top:0px;
background-color:#0053b8;
width:100vw;
height:100vh;
opacity:.35;
}
.top-text{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:25%;
font-size: 4.2vw;
}
.bottom-top-text{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:40%;
font-size: 3vw;
}
