@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: "Deltasoft";
  src: url("Deltasoft.ttf");
}
html{
//overflow:hidden;
    overflow: scroll;
    overflow-x: hidden;
}
body{
height:200vh;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
     .header{
         position:fixed;
         left: 0px;
         top: 0px;
         width: 100vw;
         height:75px;
	}
     .header1{
         background-color:#121212;
         position:absolute;
         left: 0px;
         top: 0px;
         width: 100vw;
         height:75px;
	opacity:0;
	transition: opacity 0.5s;
	}

.logo{
position:absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
height:100%;

}
.header-name{
color: white;
position:absolute;
left:50px;
font-family: "Deltasoft";
}
.tools{
  position:absolute;
left: 0px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 0 500px, 500px 400px, 500px 0);
  clip-path: polygon(0 0, 0 100vh, 100vh 100vh, 100vh 0);
}
.resources{
  position:absolute;
left: 300px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(200px 0, 0 500px, 300px 500px, 500px 0);
  clip-path: polygon(calc((100vh/100)*25) 0, 0 100vh, 100vh 100vh, calc(100vh*2) 0);
}
.ideas{
  position:absolute;
left: 800px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(200px 0, 0 500px, 100% 500px, 100% 0);
  clip-path: polygon(calc((100vh/100)*20) 0, 0 100vh, 100vh 100vh, 100vh 0);
}
.blue-tint{
position:absolute;
left:0px;
top:0px;
background-color:#0053b8;
width:100vw;
height:100vh;
opacity:.35;
}
.top-text{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:25%;
font-size: 4.2vw;
}
.bottom-top-text{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:40%;
font-size: 3vw;
}
.main-button{
position:absolute;
top: 70%;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
height:100px;
width: 400px;
border-radius:100px;
border: white solid 3px;
background: rgba(76, 175, 80, 0);
font-family: 'Poppins', sans-serif;
font-size:25px;
color: white;
transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
backdrop-filter: blur(15px);
cursor:pointer;
}
.main-button:hover{
-webkit-box-shadow:0px 0px 74px 35px rgba(4,154,191,0.93);
-moz-box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
background-color:rgba(4,154,191,.6);
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.menu-container{
position:absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
right:50px;
transition: background-color 0.4s, box-shadow 0.3s ease-in-out;
backdrop-filter: blur(15px);
cursor:pointer;
}
.menu-container:hover{
-webkit-box-shadow:0px 0px 74px 35px rgba(4,154,191,0.93);
-moz-box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
background-color:rgba(4,154,191,.6);
}
