@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: "Deltasoft";
  src: url("Deltasoft.ttf");
}
html{
//overflow:hidden;
    overflow: scroll;
    overflow-x: hidden;
z-index:1;
scroll-behavior: smooth;
}
body{
height:200vh;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
     .header{
         position:fixed;
         left: 0px;
         top: 0px;
         width: 100vw;
         height:15%;
	z-index:5;
	transition: height .6s;
	}
     .header1{
         background-color:#121212;
         position:absolute;
         left: 0px;
         top: 0px;
         width: 100vw;
         height:100%;
	opacity:0;
	transition: opacity 0.5s;
	}
.not-draggable{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.logo{
position:absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
height:100%;

}
.header-name{
color: white;
position:absolute;
left:50px;
font-family: "Deltasoft";
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
text-align:center;
margin:0px;
padding:0px;
}



.phone-screen{
display:none;
}

						[data-netlify-identity-button] a {
							display: block;
							position: absolute;
							top:26%;
							right:10%;
							width: 100%;
							max-width: 184px;
							height: auto;
							padding: 8px 12px;
							outline: 0;
							cursor: pointer;
							border: 2px solid #007a70;
							border-radius: 4px;
							background-color: #499bff;
							color: white;
							transition: background-color 0.2s ease;
							font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
							font-size: 16px;
							font-weight: 500;
							line-height: 24px;
							text-align: center;
							text-decoration: none;
							white-space: nowrap;
						}

						[data-netlify-identity-button] a:hover,
						[data-netlify-identity-button] a:focus {
							background-color: #007a70;
							text-decoration: none;
						}





.tools{
  position:absolute;
left: 0px;
top:0px;
  width: calc(100vw/2);
  height: 100vh;

}


.resources{
  position:absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
top:0px;
  width: calc(100vw/2);
  height: 100vh;
  -webkit-clip-path: polygon(200px 0, 0 500px, 300px 500px, 500px 0);
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}





.ideas{
  position:absolute;
right:-60px;
top:0px;
  width: calc(100vw/1.8);
  height: 100vh;
}












#user_avatar{
position:absolute;	
right:30%;
top:2%;
width:100px;
height:100px;
clip-path: circle(50% at 50% 50%);
}

#temp_user_avatar{
position:absolute;	
right:30%;
top:2%;
width:100px;
height:100px;
clip-path: circle(50% at 50% 50%);
display:none;
font-size:40px;
font-family: 'Poppins', sans-serif;
}







.blue-tint{
position:absolute;
left:0px;
top:0px;
background-color:#0053b8;
width:100vw;
height:100vh;
opacity:.35;
}
.top-text{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:25%;
font-size: 4.2vw;
}
.bottom-top-text{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:40%;
font-size: 3vw;
}
.main-button{
position:absolute;
top: 70%;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
height:100px;
width: 400px;
border-radius:100px;
border: white solid 3px;
background: rgba(76, 175, 80, 0);
font-family: 'Poppins', sans-serif;
font-size:25px;
color: white;
transition: background-color 0.3s, box-shadow 0.3s ease-in-out;
backdrop-filter: blur(15px);
cursor:pointer;
}
.main-button:hover{
-webkit-box-shadow:0px 0px 74px 35px rgba(4,154,191,0.93);
-moz-box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
background-color:rgba(4,154,191,.6);
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.menu-container{
position:absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
right:50px;
transition: background-color 0.4s, box-shadow 0.3s ease-in-out;
cursor:pointer;
}
.menu-container:hover{
-webkit-box-shadow:0px 0px 74px 35px rgba(4,154,191,0.93);
-moz-box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
background-color:rgba(4,154,191,.6);
}
.menu-wrapper{
position:fixed;
left:0px;
top:0px;
background-color:#4d4d4d;
width:100vw;
height:100vh;
visibility: hidden;
opacity:0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s;
}
.mini-services-wrapper{
position:absolute;
left:0px;
top:100vh;
//background: linear-gradient(#4d4d4d, black);
//background-color:#4d4d4d;
background-color:#000000;
width:100vw;
height:300px;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s;
}
.mini-services-title{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:100vh;
font-size: 3vw;
}
.mini-services-menu{
font-family: 'Poppins', sans-serif;
text-align:center;
    left: 0px;
    width: 100%;
    color:#fff;
    position:absolute;
top:125vh;
font-size: 3vw;
display: flex; 
justify-content: space-between;
}
.mini-services-logo-name{
position: relative;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
color: white;
font-family: "Deltasoft";
line-height:51px
text-align:center;
margin:0px;
padding:0px;
font-size: 16vw;
text-align:center;
}
.mini-services-background{
position:absolute;
left:0px;
top:100vh;
background: linear-gradient(#2e2e2e, black);
/background-color:#4d4d4d;
width:100vw;
height:300px;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s;
opacity:.9;
}
.mini-services-opacity{
opacity:0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1.2s;
}
.mini-services-opacity.active{
opacity:1;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1.2s;
}
.mini-services-menu-underline{
  border: 4px solid #499bff;
  border-radius: 5px;
  width:14.5vw;
  position:absolute;
  left:5vw;
//left:30vw;
//left:55vw;
//left:80vw;
  top:138vh;
transition: left .4s ease-in-out;
}
.mini-slider{
position:absolute;
top:145vh;
left:0px;
background-color: white;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
width:400vw;
height:50vh;
transition: left 1s ease-in-out;
}
.slide-1{

}
.slide-2{

}
.slide-3{

}
.slide-4{

}
.mini-services-text{
position:absolute;
top: 1%;
width:45vw;
height:34vh;
background-color:rgb(73, 155, 255,0.6);
font-size:30px;
font-family: 'Poppins', sans-serif;
padding:20px;
}
.mini-services-text-top-border{
position:absolute;
top:4%;
width:3%;
height:50%;
border-left: solid 10px gold;
border-top: solid 10px gold;
transition: left 1s ease-in-out;
transition: top 1s ease-in-out;
}
.mini-services-text-bottom-border{
position:absolute;
top:43%;
width:3%;
height:50%;
border-right: solid 10px gold;
border-bottom: solid 10px gold;
transition: left 1s ease-in-out;
transition: top 1s ease-in-out;
}
.glow:hover{
-webkit-box-shadow:0px 0px 74px 35px rgba(4,154,191,0.93);
-moz-box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
box-shadow: 0px 0px 74px 35px rgba(4,154,191,0.93);
background-color:rgba(4,154,191,.6);
}



